*{
    margin: 0;
}
#header h1{
    background-color: rgb(37, 141, 201);
    color: whitesmoke;
    text-align: center;
}
.nav li{
   
display: flex;
justify-content: flex-end;
text-decoration: underline;
background-color: yellow;
height: 1.5cm;
border: 1px solid black;
padding-top: 20px; 
padding-right:30px;
}
.nav ul:hover{
    color: blue;
    text-decoration: none;
    word-spacing: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-block: 20px;
}
.showcase{
    background-image: url(../b.jpg);
    background-position: center right;
    height: 300px;
    margin-bottom:30px;
    min-height: 300px;
    text-align: center;
}
.showcase h1{
    color: rgb(224, 21, 54);
    font-size: 50px;
    line-height: 1.6em ;
    padding-top: 30px;
}
.sidebar{

float: right;
width: 30%;
background: #333;
color: #fff;
padding: 10px;
box-sizing: border-box;
}
.footer p{
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;

}
.main{
float: left;
width: 70%;
padding: 0 30px;
box-sizing: border-box;
}
@media(max-width:600px){
 .main{
    width: 100%;
    float:none;
 }
 .sidebar{
    width: 100%;
    float:none;
 }

}